body {
    height: 100%;
/*
    background-color: #000000;
*/
    margin: 0;
}
h1 {
/*
  color: Enter colour here;
*/
  text-align: center;
  font-family: 'Product Sans', serif;
  font-size: 300%;
  color: #FFFFFF;
}
h2 {
/*
  color: Enter colour here;
*/
  text-align: center ;
  font-family: 'Product Sans', serif;
  color: #FFFFFF;
}
h3, h4 {
/* 
  color: Enter colour here;
*/
  text-align: left ;
  font-family: 'Product Sans', serif;
}
